In [6]:
import random
import gymnasium as gym
import pandas as pd

# Environmnet
env_name = "CartPole-v1"
env = gym.make(env_name)
d_states = env.observation_space.shape[0]
n_actions = env.action_space.n

In [15]:
# one way sampling
data = []
for i in range(100):
    state, info = env.reset()
    done = False
    episodic_return = 0  # episodic return

    while not done:
        # a = random.randrange(0,2)
        a = 1  # one way policy
        next_state, reward, done = env.step(a)[:3]
        episodic_return += reward

    data.append(episodic_return)

df = pd.DataFrame(data)
df.describe().round(2)

            0
count  100.00
mean     9.37
std      0.81
min      8.00
25%      9.00
50%     10.00
75%     10.00
max     11.00

In [14]:
# Random_sampling
data = []
for i in range(100):
    state, info = env.reset()
    done = False
    episodic_return = 0  # episodic return

    while not done:
        a = random.randrange(0,2)
        # a = 1  # one way policy
        next_state, reward, done = env.step(a)[:3]
        episodic_return += reward

    data.append(episodic_return)

df = pd.DataFrame(data)
df.describe().round(2)

            0
count  100.00
mean    22.99
std     13.57
min      9.00
25%     15.00
50%     19.50
75%     27.25
max    109.00